<html>
<body>
    {% block content %}
    {% endblock content %}
    <h1>Registration Form:</h1>
    <form action="#" method="post">

        <p>Event Title:</p>
        <p><input type="text" name="title" /></p>
        <p>Description:</p>
        <p><input type="text" name="description" /></p>
        <p>Event Type:</p>
        <p><input type="text" name="type" /></p>
        <p>Event Venue:</p>
        <p><input type="text" name="venue" /></p>
        <p>Start Date:</p>
        <p><input type="text" name="start_date" /></p>
        <p>End Date:</p>
        <p><input type="text" name="end_date" /></p>
        <p>Tickets Available:</p>
        <p><input type="text" name="tickets_available" /></p>
        <p>Ticket Price:</p>
        <p><input type="text" name="ticket_price" /></p>

        <p><input type="submit" value="Create" /></p>
    </form>
</body>
</html>