<html>
<body>
    <!-- <h5>You have succesfully registered! Please login using your credentials.</h5> -->
    <h1>Login:</h1>
    <form action="#" method="post">

        <p>Username:</p>
        <p><input type="text" name="nm" /></p>
        <p>Password:</p>
        <p><input type="password" name="pw" id="myInput" /></p>
        <!-- An element to toggle between password visibility -->
        <input type="checkbox" onclick="myFunction()">Show Password
        <p><input type="submit" value="login" /></p>
    </form>
</body>
</html>

<script>

function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }

</script>
