<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="search_bar" action="#" method="post">
  <input type="text" placeholder="Search.." name="search">

  <select name="filter_event_types" id="event_types">
    <option value=""></option>
    <option value="Sports">Sports</option>
    <option value="Arts">Arts</option>
    <option value="Festivals">Festivals</option>
    <option value="Theatre">Theatre</option>
  </select>
  <button type="submit"><i class="fa fa-search"></i></button>
</form>


